# Dependencies
node_modules
.pnpm-store

# Production
dist
build

# Environment Variables
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.agent-persistence
